@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");

body {
	background-color: #f4f5f9;
	color: black;
}

* {
	font-family: "Noto Sans Georgian", sans-serif;
	margin: 0;
	padding: 0;
}

.flexCenter {
	@apply flex justify-center items-center;
}

.flexBetween {
	@apply flex justify-between items-center;
}

.flexStart {
	@apply flex items-center justify-start;
}

.uppercase {
	font-feature-settings: "case" on; /* ქართული ფონტისთვის */
	text-transform: uppercase;
}
